<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>顧客詳細画面</title>
</head>
<body>
	<h1>顧客詳細画面</h1>
	<dl>
		<dt th:text="#{name}">NAME</dt>
		<dd>
			<span th:text="${customer.name}">山田</span>
		</dd>
		<dt th:text="#{address}">ADDRESS</dt>
		<dd>
			<span th:text="${customer.address}">東京</span>
		</dd>
		<dt th:text="#{emailAddress}">E-MAIL</dt>
		<dd>
			<span th:text="${customer.emailAddress}">yama@hoge.jp</span>
		</dd>
		<dt th:text="#{rank}">RANK</dt>
		<dd th:text="${@vh.getText('CustomerRankValues', customer.rank)}">シルバー</dd>
		<dt th:text="#{sex}">SEX</dt>
		<dd th:text="${@vh.getText('CustomerSexValues', customer.sex)}">女</dd>
	</dl>
	<a href="http://www.starlight-storm.com/" th:href="@{/customer}">一覧</a>
</body>
</html>