<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>顧客一覧画面</title>
</head>
<body>
	<h1>顧客一覧画面</h1>
	<table border="1">
		<thead>
			<tr>
				<th th:text="#{name}">ID</th>
				<th th:text="#{name}">NAME</th>
				<th th:text="#{address}">ADDRESS</th>
				<th th:text="#{emailAddress}">E-MAIL</th>
				<th th:text="#{rank}">RANK</th>
				<th th:text="#{sex}">SEX</th>
			</tr>
		</thead>
		<tbody th:remove="all-but-first">
			<tr th:each="customer : ${customers}">
				<td th:text="${customer.id}">1</td>
				<td th:text="${customer.name}">山田</td>
				<td th:text="${customer.address}">東京</td>
				<td th:text="${customer.emailAddress}">yamada@hoge.com</td>
				<td th:text="${@vh.getText('CustomerRankValues', customer.rank)}">シルバー</td>
				<td th:text="${@vh.getText('CustomerSexValues', customer.sex)}">男</td>
				<td><a href="http://www.starlight-storm.com/" th:href="@{/customer/{id}(id=${customer.id})}">詳細</a>
					<a href="http://www.starlight-storm.com/" th:href="@{/customer/{id}/edit(id=${customer.id})}">編集</a>
				</td>
			</tr>
			<tr>
				<td>2</td>
				<td>鈴木</td>
				<td>北海道</td>
				<td>suzuki@foo.jp</td>
				<td>シルバー</td>
				<td>男</td>
				<td>
					<a href="http://www.starlight-storm.com/">詳細</a>
					<a href="http://www.starlight-storm.com/">編集</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
