<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>確認画面</title>
</head>
<body>
<h1>確認画面</h1>
<form method="post">
<dl>
  <dt th:text="#{name}">NAME</dt>
  <dd th:text="${editCustomer.name}">佐藤</dd>
  <dt th:text="#{address}">ADDRESS</dt>
  <dd th:text="${editCustomer.address}">福島</dd>
  <dt th:text="#{emailAddress}">E-MAIL</dt>
  <dd th:text="${editCustomer.emailAddress}">satou@fuga.com</dd>
  <dt th:text="#{rank}">RANK</dt>
  <dd th:text="${@vh.getText('CustomerRankValues', editCustomer.rank)}">シルバー</dd>
  <dt th:text="#{sex}">SEX</dt>
  <dd th:text="${@vh.getText('CustomerSexValues', editCustomer.sex)}">男</dd>
</dl>
<button type="submit" name="_event_confirmed">更新</button>
<button type="submit" name="_event_revise">再入力</button>
</form>
</body>
</html>