<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<title>確認画面</title>
</head>
<body>
	<form method="post">
		<fieldset>
			<legend>確認画面</legend>
			<div class="form-group">
				<label class="col col-md-2" th:text="#{name}">NAME</label>
				<output class="col col-md-2" th:text="${editCustomer.name}">佐藤</output>
			</div>
			<div class="form-group">
				<label class="col col-md-2" th:text="#{address}">ADDRESS</label>
				<output class="col col-md-2" th:text="${editCustomer.address}">福島</output>
			</div>
			<div class="form-group">
				<label class="col col-md-2" th:text="#{emailAddress}">E-MAIL</label>
				<output class="col col-md-2" th:text="${editCustomer.emailAddress}">satou@fuga.com</output>
			</div>
			<div class="form-group">
				<label class="col col-md-2" th:text="#{rank}">RANK</label>
				<output class="col col-md-2"
					th:text="${@vh.getText('CustomerRankValues', editCustomer.rank)}">シルバー</output>
			</div>
			<div class="form-group">
				<label class="col col-md-2" th:text="#{sex}">SEX</label>
				<output class="col col-md-2"
					th:text="${@vh.getText('CustomerSexValues', editCustomer.sex)}">男</output>
			</div>
			<button type="submit" name="_event_confirmed" class="btn btn-default">更新</button>
			<button type="submit" name="_event_revise" class="btn btn-default">再入力</button>
		</fieldset>
	</form>
	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
		th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>